@import './dashboard';
.userDetails_div{
    @include main_div();

}
.user_mood_chart{
    background-color: #ffff;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #bafffc;
}
.accordian{
    background-color: #ffff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #bafffc;

    
}
// .dailygoals{
//     padding-bottom: 10px;
// }